<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <ul>
      <li><a href='samples/anonymous_login/index.html'>Anonymous login</a></li>
      <li><a href='samples/external_script_login/index.html'>Check ID from External Script</a></li>
    </ul>
  </body>
</html>
